{% extends "base/body.html" %}
{% load static %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'lib/DataTables/datatables.css' %}" />
<script src="{% static 'lib/DataTables/datatables.js' %}"></script>
{% endblock %}

{% block content %}
			<main>
				<div class="card-body">
					<table class="table" id="example">
						<thead>
							{% block table_head %}

							{% endblock table_head %}
						</thead>

						<tbody>
							{% block table_body %}

							{% endblock table_body %}
						</tbody>
					</table>
				</div>
			</main>

{% endblock content %}

{% block javascript %}
			<script>
				document.addEventListener('DOMContentLoaded', function () {
					let table = new DataTable('#example');
				});
			</script>
{% endblock javascript %}
