{% extends "base/body.html" %}

{% block content %}
<div class="row pt-3 pb-3">
	<div class="col-6 mx-auto">
		<div class="card shadow" >

			<h5 class="card-header">
			{% block card_title %}
			{% endblock %}
			</h5>

			<ul class="list-group list-group-flush">
			{% block card_list_items %}
			{% endblock %}
			</ul>

			<div class="card-footer">
			<div class="d-grid gap-2 col-12 mx-auto ">
				<a class="btn btn-outline-primary rounded-pill" href="{% block go_back_button_url %}{% endblock %}">
				<i class="bi bi-arrow-left"></i>
				Go Back
				</a>
			</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
