{% extends 'base/base.html' %}
{% load static %}

{% block head_extra %}
<style type="text/css" media="screen">

/*  Infinite autoplay carousel CSS */
.slider {
	--totSlides: 7;
	--slideWidth: 200px;
	--slideHeight: 100px;
	--animationSpeed: calc(3s * var(--totSlides));
	/* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
	height: var(--slideHeight);
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.slider .slides-track {
	animation: scroll var(--animationSpeed) linear infinite;
	display: flex;
	width: calc(var(--slideWidth) * var(--totSlides) * 2);
}

.slider .slide {
	height: 100px;
	width: var(--slideWidth);
	filter: grayscale(100);
	overflow: hidden;
}

.slider .slide img {
	height: 100%;
	width: auto;
	max-width: 100%;
	object-fit: contain;
}


@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(var(--slideWidth) * var(--totSlides) * -1));
	}
}

</style>
	
{% endblock head_extra %}

{% block body %}
<body style="padding-top: 56px;">
<header> 
	<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Mind<b>Shift</b></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav mx-auto">
					<!--
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">About Us</a>
					</li>
					-->
					<li class="nav-item">
						<a class="nav-link" href="#features">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#news">News</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#faq">FAQ</a>
					</li>
					<!-- 
					<li class="nav-item">
						<a class="nav-link" href="#">Contact Us</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Dropdown link
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</li>
					-->
				</ul>
				<a class="btn btn-outline-secondary rounded-pill" type="submit">Log In</a> 
				&nbsp; &nbsp;
				<button class="btn btn-outline-primary  rounded-pill" type="submit">Sign Up</button>
			</div>
		</div>
	</nav>
</header>

<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-smooth-scroll="true" class="scrollspy-example" style="outline: none;" tabindex="0">
<div class="container vh-100">
	<div class="row">
	</div>
	<p class="my-5"></p>
	<div class="row">
		<div class="col-12 col-sm-6">
			<h1 class="mt-5 display-1">Change Your Thoughts</h1>
			<p class="lead fs-3 text-body-secondary"><b>MindShift its a toolkit that help you to get more control about your thoughts and actions.</b></p>
		</div>
		<div class="col-12 col-sm-6">
		<img src="{% static 'img/jpg/mind_map_concept_illustration_by_storyset.jpg' %}" alt="Track Thoughts" class="mb-1 mt-1 d-block mx-auto" style="border-radius: 40%; border: none; opacity: .8; width: 400px; height: auto;">
		</div>
	</div>
</div>

<div class="container vh-100" id="features">
	<div class="row ">
		<div class="col-12 mb-3">
			<h1 class="text-center display-4"> Features </h1>
		</div>
	</div>
	<div class="row ">
		<div class="col-12 col-sm-6 text-center">
			<h1 class="display-6 ">Track Thoughts</h1>
		<img src="{% static 'img/png/human_mind/lineal/51_strategy.png' %}" alt="Track Thoughts" class="mb-1 mt-1" style="opacity: .8; width: 90px; height: auto;">
			<p class="lead fw-normal">Allows you to track your thoughts over the time.</p>
		</div>
		<div class="col-12 col-sm-6 text-center">
			<h1 class="display-6">Thoughts Charting</h1>
		<img src="{% static 'img/png/human_mind/lineal/17_analytics.png' %}" alt="Track Thoughts" class="mb-1 mt-1" style="opacity: .8; width: 90px; height: auto;">
			<p class="lead fw-normal">Observe the relationships and characteristics of your thoughts graphically.</p>
		</div>
	</div>
	<div class="row ">
		<div class="col-12 col-sm-6 text-center">
			<!-- <h1 class="display-6 fw-normal">Search and Filtering of Thoughts</h1> -->
			<h1 class="display-6 ">Search And Filter Thoughts</h1>
		<img src="{% static 'img/png/human_mind/lineal/25_observation.png' %}" alt="Track Thoughts" class="mb-1 mt-1" style="opacity: .8; width: 90px; height: auto;">
			<p class="lead fw-normal">Allows you to smart search and filter your thoughts easily, intuitively and accurately.</p>
		</div>
		<div class="col-12 col-sm-6 text-center">
			<h1 class="display-6">Dangerous Thought Alerts</h1>
		<img src="{% static 'img/png/human_mind/lineal/30_anxiety.png' %}" alt="Track Thoughts" class="mb-1 mt-1" style="opacity: .8; width: 90px; height: auto;">
		<!--<p class="lead fw-normal">Mindshift alerts you when a thought related to the emotions of sadness or anger is becoming too repetitive or constant in your daily life.</p>-->
			<p class="lead fw-normal">You will be notified when a thought related to the emotions of sadness or anger is becoming too repetitive or constant in your daily life.</p>
		</div>
	</div>
</div>

<div class="container mt-5" id="faq">
	<div class="row">
		<div class="col-12 mb-3">
			<h1 class="text-center display-5">Do you have questions? We have answers!</h1>
		</div>
	</div>
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
	      <b> Is there anything that backs up or validates MindShift functionality? </b>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
        <strong>Yes,</strong> A wide range of articles and studies from leading institutions in the fields of neurology and psychology were considered in the creation of MindShift functionalities.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
	      <b>How would using MindShift help me?</b>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
        <strong></strong> MindShift will help you organize and manage your thoughts and actions, allowing you have a better comprehension, evaluation and tracking of your thoughts. 
In conclusion, MindShift is a versatile tool that will help you get a wider view of your thoughts and how they relate to the actions you take on your daily life, and much more.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
	<b>Is MindShift suitable for individuals with anxiety or depression?</b>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
        <strong>Yes,</strong> MindShift is suitable for people who have anxiety, depression, among others, as well as MindShift is suitable for people who have none of these. In addition, MindShift is useful for people who want to improve their comprehension of their thoughts and tracking of them, allowing them to increase the probability of success regarding goals such as changing certain thoughts to others more desirable thoughts or changing the emotion they feel about a certain thought. 

      </div>
    </div>
  </div>
</div>
<p></p>
	<div class="row">
		<div class="col-12 mb-3">
			<h5 class="text-center">
				For more questions and answers visit <b>Frequently Asked Questions</b>
			</h5>
		</div>
	</div>
</div>

</div>




<div class="container mt-5 pb-3" id="carousel">
	<div class="row">
		<div class="col-12 mb-3">
			<h4 class="text-center">Our application is built taking into consideration studies and articles from recognized sources</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
<div class="slider">
	<div class="slides-track">
		<div class="slide">
			<img src="{% static 'img/webp/American_Psychological_Association_logo_500x200.webp' %}" alt="" />
		</div>
		<div class="slide">
			<img src="{% static 'img/webp/Association_for_Psychological_Science_logo_500x200.webp' %}" alt="" />
		</div>
		<div class="slide">
			<img src="{% static 'img/webp/Harvard_University_logo_500x200.webp' %}" alt="" />
		</div>
		<div class="slide">
			<img src="{% static 'img/webp/NIH_National_Institute_of_Mental_Health_logo_500x200.webp' %}" alt="" />
		</div>
		<div class="slide">
			<img src="{% static 'img/webp/National_Center_for_Biotechnology_Information_logo_500x200.webp' %}" alt="" />
		</div>
		<div class="slide">
			<img src="{% static 'img/webp/Society_for_Neuroscience_logo_500x200.webp' %}" alt="" />
		</div>
		<div class="slide">
			<img src="{% static 'img/webp/University_of_Oxford_logo_500x200.webp' %}" alt="" />
		</div>
		<div class="slide">
			<img src="{% static 'img/webp/American_Psychological_Association_logo_500x200.webp' %}" alt="" />
		</div>
		<div class="slide">
			<img src="{% static 'img/webp/Association_for_Psychological_Science_logo_500x200.webp' %}" alt="" />
		</div>
		<div class="slide">
			<img src="{% static 'img/webp/Harvard_University_logo_500x200.webp' %}" alt="" />
		</div>
		<div class="slide">
			<img src="{% static 'img/webp/NIH_National_Institute_of_Mental_Health_logo_500x200.webp' %}" alt="" />
		</div>
		<div class="slide">
			<img src="{% static 'img/webp/National_Center_for_Biotechnology_Information_logo_500x200.webp' %}" alt="" />
		</div>
		<div class="slide">
			<img src="{% static 'img/webp/Society_for_Neuroscience_logo_500x200.webp' %}" alt="" />
		</div>
		<div class="slide">
			<img src="{% static 'img/webp/University_of_Oxford_logo_500x200.webp' %}" alt="" />
		</div>
	</div>
</div>

		</div>
	</div>


</div>


<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
<!--
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
-->
	<h6>MindShift</h6>
      </a>
      <p class="text-body-secondary">&copy; 2025</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>Platform</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Learn More</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Frequently Asked Questions</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Our Story</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">News</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Company</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About Us</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact Us</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Blog</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Terms Of Use</a></li>
      </ul>
    </div>
  </footer>
</div>

</body>
{% endblock body %}
