{% extends "base/detail.html" %}

{% block card_title %}
	Thought Detail 
{% endblock %}

{% block card_list_items %}
	<li class="list-group-item"><b>Name:</b> {{object.name}} </li>
	<li class="list-group-item"><b>Thought Intensity:</b> {{object.thought_intensity}} </li>
	<li class="list-group-item"><b>Description:</b> {{object.description}} </li>
	<li class="list-group-item"><b>Advantages:</b> {{object.advantages}} </li>
	<li class="list-group-item"><b>Disadvantages:</b> {{object.disadvantages}} </li>
	<li class="list-group-item"><b>Emotion:</b> {{object.emotion}} </li>  
	<li class="list-group-item"><b>Emotion Intensity:</b> {{object.emotion_intensity }} </li>  
{% endblock %}

{% block go_back_button_url %}
	{% url 'core:thought-list' %}
{% endblock go_back_button_url %}

