{% extends "base/list.html" %}

{% block table_head %}
<tr>
	<th scope="col" class="text-bg-dark" style="width:5%;">Id</th>
	<th scope="col" class="bg-dark" style="width:20%;">Name</th>
	<th scope="col" style="width:20%;">Description</th>
	<th scope="col" style="width:20%;">Advantages</th>
	<th scope="col" style="width:20%;">Disadvantages</th>
	<th scope="col" style="width:20%;">Emotion</th>
</tr>
{% endblock %}

{% block table_body %}

{% for thought in object_list %}
<tr>
	<td> {{ thought.id }} </td>
	<td> {{ thought.name }} </td>
	<td> {{ thought.description }} </td>
	<td> {{ thought.advantages }} </td>
	<td> {{ thought.disadvantages }} </td>
	<td> {{ thought.emotion }} </td>
</tr>
{% endfor %}

{% endblock %}
