{% extends 'base/base.html' %}

{% block body %}
<body style="padding-top: 70px;">
<header> 
	<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Mind<b>Shift</b></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav mx-auto">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">About Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#features">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">FAQ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact Us</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Dropdown link
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</li>
				</ul>
				<a class="btn btn-outline-secondary rounded-pill" type="submit">Log In</a> 
				&nbsp; &nbsp;
				<button class="btn btn-outline-primary  rounded-pill" type="submit">Sign Up</button>
			</div>
		</div>
	</nav>
</header>

<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
<div class="container mt-5 pb-3">
	<div class="row">
		<div class="col-6 ">
			<h1 class="mt-5"> change your thoughts </h1>
			<p>MindShift its a toolkit that help you to get more control about your thoughts and actions.</p>
		</div>
		<div class="col-6">
			<p class="text-center mt-5"> gif / mp4  </p>
		</div>
	</div>
</div>

<div class="container mt-5">
	<div class="row ">
		<div class="col-12">
			<h1 class="text-center"> Evaluate your Thoughts </h1>
			<p> ............... </p>
		</div>
	</div>
</div>


<div class="container mt-5 pb-3">
	<div class="row">
		<div class="col-6 ">
			<h1 class="mt-5"> rename </h1>
			<p>MindShift ......................................................</p>
			<p>MindShift ......................................................</p>
			<p>MindShift ......................................................</p>
			<p>MindShift ......................................................</p>
			<p>MindShift ......................................................</p>
			<p>MindShift ......................................................</p>
			<p>MindShift ......................................................</p>
			<p>MindShift ......................................................</p>
			<p>MindShift ......................................................</p>
			<p>MindShift ......................................................</p>
			<p>MindShift ......................................................</p>
		</div>
		<div class="col-6">
			<p class="text-center mt-5"> gif / mp4  </p>
		</div>
	</div>
</div>

<div class="container mt-5" id="features">
	<div class="row ">
		<div class="col-12 mb-3">
			<h1 class="text-center"> Features </h1>
		</div>
	</div>
	<div class="row ">
		<div class="col-4">
			<h1 class="text-center">Track Thoughts</h1>
			<p>Allows users to track their thoughts over time</p>
		</div>
		<div class="col-4">
			<h1 class="text-center">Thoughts Charting</h1>
			<p>Observe the relationships and characteristics of your thoughts graphically.</p>
		</div>
		<div class="col-4">
			<h1 class="text-center"> feature #1 </h1>
			<p> details </p>
		</div>
	</div>
	<div class="row ">
		<div class="col-4">
			<h1 class="text-center"> feature #1 </h1>
			<p> details </p>
		</div>
		<div class="col-4">
			<h1 class="text-center"> feature #1 </h1>
			<p> details </p>
		</div>
		<div class="col-4">
			<h1 class="text-center"> feature #1 </h1>
			<p> details </p>
		</div>
	</div>
</div>
</div>

<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
<!--
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
-->
	<h6>MindShift</h6>
      </a>
      <p class="text-body-secondary">&copy; 2023</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>
  </footer>
</div>

</body>
{% endblock body %}
