{% extends "base.html" %}
{% load static %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'lib/DataTables/datatables.css' %}" />
<script src="{% static 'lib/DataTables/datatables.js' %}"></script>
{% endblock %}


{% block body %}
<body>

	<header> 
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Mind<b>Shift</b></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Features</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Pricing</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Dropdown link
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Action</a></li>
								<li><a class="dropdown-item" href="#">Another action</a></li>
								<li><a class="dropdown-item" href="#">Something else here</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<header>

			<main>
				<div class="card-body">
					<table class="table" id="example">
						<thead>
							<tr>
								<th scope="col" class="text-bg-dark" style="width:5%;">Id</th>
								<th scope="col" class="bg-dark" style="width:20%;">Name</th>
								<th scope="col" style="width:20%;">Description</th>
								<th scope="col" style="width:20%;">Advantages</th>
								<th scope="col" style="width:20%;">Disadvantages</th>
								<th scope="col" style="width:20%;">Emotion</th>
							</tr>
						</thead>
						<tbody>

							{% for x in  thought_list %}
							<tr>
								<td> {{ x.id }} </td>
								<td> {{ x.name }} </td>
								<td> {{ x.description }} </td>
								<td> {{ x.advantages }} </td>
								<td> {{ x.disadvantages }} </td>
								<td>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</main>


			<script>
				document.addEventListener('DOMContentLoaded', function () {
					let table = new DataTable('#example');
				});
			</script>
</body>
{% endblock %}
